content {
    background: #A5D4AD;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid yellow;
}

.xbox {
    flex-direction: inline-flex;
    width: 99.3%;
    height: 300px;
    border: 1px solid red;
}

.cbox {
    flex-direction: inline-flex;
    width: 49.6%;
    height: 300px;
    border: 1px solid red;
}
