@import url("header.css");
@import url(content.css);
@import url(sideber.css);
@import url(footer.css);

.container {
    display: grid;
    grid-template-columns: 200px auto 300px;
    grid-template-rows: 90px auto auto 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "sd sd sd sd sd sd sd sd"
        "ft ft ft ft ft ft ft ft";
}

header {
    grid-area: hd;
}

sideber {
    grid-area: sd;
}

content {
    grid-area: main;
}

footer {
    grid-area: ft;
}

@media (min-width: 200px) and (min-width:580px) {
    .container {
        display: grid;
        grid-template-columns: 200px auto 300px;
        grid-template-rows: 90px auto auto 50px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main mian mian mian mian"
            "sd sd sd sd sd sd sd sd"
            "ft ft ft ft ft ft ft ft";
    }

    @media (min-width:580px) {
        .container {
            display: grid;
            grid-template-columns: 200px auto 300px;
            grid-template-rows: 90px auto 50px;
            grid-template-areas:
                "hd hd hd hd hd hd hd hd"
                "main main main main main main sd sd"
                "ft ft ft ft ft ft ft ft";
        }
    }
}
